header {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 1rem;
  background: rgba(250, 250, 250, 0.89);
}

.image {
  width: 100vw;
}

.img {
  width: 10%;
  border-radius: 10px;
  margin: 0.5rem auto;
}

.title {
  width: 100%;
  letter-spacing: 3px;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid rgba(228, 227, 227, 0.767);
}

@media only screen and (max-width: 800px) {
  .img {
    width: 50%;
  }
}
